@import '/src/scss/variables.scss';

.ticket{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 15px;
   background: $main-dark-1;
   border: 1px solid $main-grey-2;
   box-shadow: 0 10px 10px $main-dark-3;
   border-radius: 10px;
   margin: 10px 0;

   &__top{
      display: flex;

      &_left{
         display: flex;
         align-items: center;
         justify-content: center;
         border: 1px solid $main-grey-2;
         border-radius: 5px;
         overflow: hidden;
         width: 50px;
         height: 50px;

         img{
            width: 100%;
            object-fit: cover;
         }
      }

      &_right{
         margin-left: 10px;

         p{
            font-size: 14px;
            font-weight: 500;
            color: $main-grey-1;

            span{
               color: white;
            }
         }
      }
   }

   &__main{
      display: flex;
      margin-top: 15px;

      &_right{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 60%;
         margin-left: 15px;
         padding: 10px 0;

         div{
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2{
               font-size: 17px;
               font-weight: 500;
               color: $main-grey-1;
            }

            p{
               font-size: 18px;
               font-weight: 600;
               color: white;

               span{
                  color: $main-grey-1;
               }
            }
         }
      }
   }

   &__bottom{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;

      h2{
         font-size: 17px;
         font-weight: 500;
         color: $main-green-2;
      }

      p{
         margin-top: 5px;
         font-size: 28px;
         font-weight: 500;
         color: $main-green-2;
      }
   }
}