@import '/src/scss/variables.scss';

.footer{
   position: absolute;
   bottom: 0;
   display: flex;
   justify-content: space-around;
   width: 100%;
   padding: 10px 0 20px 0;
   background: $main-grey-footer;

   button{
      width: 30px;
      height: 30px;
      padding: 2px;

      &.apps{
         display: flex !important;
         flex-direction: column !important;

         div{
            position: absolute;
            width: 7px;
            height: 7px;
            border: 1px solid  $main-grey-2;
            border-radius: 2px;
         }

         #sec1{
            top: 6px;
            left: 6px;
         }

         #sec2{
            top: 6px;
            right: 6px;
            background: rgb(255, 71, 25);
            border: 1px solid  rgb(255, 71, 25);
         }

         #sec3{
            bottom: 6px;
            right: 6px;
         }

         #sec4{
            bottom: 6px;
            left: 6px;
         }
      }

      

      svg{
         fill: $main-grey-2;

         path{
            fill: $main-grey-2;
         }
      }

      &:nth-of-type(1){
         svg{
            transform: scale(1.5);
         }
      }


      &:nth-of-type(3){
         svg{
            fill: none;
            stroke: $main-grey-2;

            path{
               fill: none;
            }
         }
      }
      
      &:nth-of-type(4){
         svg{
            transform: scale(0.9);
         }
      }

      &:nth-of-type(5){
         svg{
            transform: scale(1.2);
         }
      }
   }
}