@import '/src/scss/variables.scss';

.loader-logo{
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgba(0, 0, 0, 0.459);
   animation: fade 1.5s linear;

   &.login{
      backdrop-filter: blur(5px);
      background: rgba(218, 218, 218, 0.644);
      animation: startFade 1.5s linear;
   }

   &.qr{
      backdrop-filter: blur(5px);
   }

   div[aria-hidden="true"]{
      background: transparent !important;
   }

   div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p{
         margin-top: 15px;
         font-size: 14px;
      }
   }

   svg{
      width: 30vw;

      path{
         stroke: $main-grey-1;
      }
   }

   #eUmi8O57BvC1{
      position: absolute;
      z-index: 2;
   }

   #anim{
      position: relative;
      z-index: 10000;
      
      path{
         &.main{
            animation: loading 2s infinite;
         }

         &.sub{
            animation: loading 2s infinite;
            animation-delay: 1s;
         }
      }
   }
}

@keyframes loading {
   0%{
      stroke: $main-grey-1;
   }
   50%{
      stroke: $main-green-1;
   }
   100%{
      stroke: $main-grey-1;
   }
}

@keyframes fade {
   0%{
      opacity: 0;
   }
   10%{
      opacity: 1;
   }
   85%{
      opacity: 1;
   }
   100%{
      opacity: 0;
   }
}

@keyframes startFade {
   0%{
      opacity: 1;
   }
   90%{
      opacity: 1;
   }
   100%{
      opacity: 0;
   }
}