@import '/src/variables.scss';

.loader-logo{
   display: flex;
   align-items: center;
   justify-content: center;

   div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p{
         margin-top: 15px;
         font-size: 14px;
      }
   }

   svg{
      width: 30vw;

      path{
         stroke: $main-grey-1;
      }
   }

   #eUmi8O57BvC1{
      position: absolute;
      z-index: 2;
   }

   #anim{
      position: relative;
      z-index: 10000;
      
      path{
         &.main{
            animation: loading 2s infinite;
         }

         &.sub{
            animation: loading 2s infinite;
            animation-delay: 1s;
         }
      }
   }
}

@keyframes loading {
   0%{
      stroke: $main-grey-1;
   }
   50%{
      stroke: $main-green-1;
   }
   100%{
      stroke: $main-grey-1;
   }
}