$main-dark-1: #303030;
$main-dark-2: #212121;
$main-dark-3: #191919;
$main-dark-4: #1e1e1e;
$main-grey-1: #a9a9a9;
$main-grey-2: #4f4f4f;
$main-green-1: #99c456;
$main-green-2: #8dc641;
$main-blue-1: #5756ce;

$expired-transport-grey: #585659;
$expired-stats-grey: #b1b1b1;
$expired-headings-grey: #8d8d8d;