@import '/src/variables.scss';

.my-tickets{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 0 15px 15px;
   height: calc(100vh - 100px);

   h1{
      margin-top: 200px;
      text-align: center;
      color: $main-grey-1;
      font-size: 20px;
   }

   &__container{
      height: calc(100vh - 160px);
      overflow-Y: scroll;

      &::-webkit-scrollbar{
         display: none;
      }
   }

   button{
      background: $main-green-2;
      border-radius: 10px;

      &:hover{
         background: $main-green-1;
      }

      span{
         font-size: 16px;
         font-weight: 500;
         text-transform: none;
      }
   }
}